In [210]:
# set up the data set
from datetime import time
import pandas as pd

data = pd.read_excel(r"newInput.xlsx")
df = pd.DataFrame(data)

In [211]:
"""defining functions to converts to seconds and then  back to time object """
def convertToMin(time_obj):
    return (time_obj.hour * 60 + time_obj.minute)

def convertToTime(minutes):
    hour, minute = divmod(minutes, 60)
    return time(hour, minute)

In [212]:
# can create a additional function to call this in future development 
strToTime = lambda strTime: time(*[int(x) for x in strTime.split(':')])
# DEFINING GLOBAL VARIABLES 
sorted_set = df.sort_values('Departure Time', ascending=True).reset_index(drop=True)
start_set = sorted_set[sorted_set['Departure Place'] == 'PSL'].reset_index(drop=True)

# GLOBAL VARIABLES
# all the time constraints are mentioned in minutes
minDuty = 8 * 60 
maxDuty = 10 * 60 
# minSpreadOver = 10 * 60 
maxSpreadOver = 12 * 60 
trip = [{"selected_leg":start_set.iloc[0].to_frame().T, 
         "temp_set": start_set.drop(0).reset_index(drop=True),
         "duty": convertToMin(strToTime(start_set.iloc[0]['Running Time'])),
         }]

In [213]:
def getSpreadOver():
    global trip
    start = strToTime(trip[0]['selected_leg']['Departure Time'][0])
    end = strToTime(trip[-1]['selected_leg']['Arrival Time act'][0])
    return (convertToMin(end) - convertToMin(start))

def setDuty(leg):
    global trip 
    duty = trip[-1]['duty']
    duty += convertToMin(strToTime(leg['Running Time'][0]))
    last_arrival = convertToMin(strToTime(trip[-1]['selected_leg']['Arrival Time act'][0]))
    new_departure = convertToMin(strToTime(leg['Departure Time'][0]))
    terminal_gap = new_departure - last_arrival
    if terminal_gap < 15:
        duty += terminal_gap
    return (terminal_gap, duty)


def getCurrentTrip():
    global trip
    route = [x['selected_leg'] for x in trip]
    display(pd.concat(route).reset_index(drop=True))
    print("Steering Duty = ", convertToTime(trip[-1]['duty']))
    print("Spread Over = ", convertToTime(getSpreadOver()))

In [214]:
def pushToTrip():
    global trip
    while trip[-1]['selected_leg']['Arrival Place'][0] != 'PSL':
        last_leg = trip[-1]['selected_leg']
        temp_set = df[(df['Departure Place'] == last_leg['Arrival Place'][0]) & (
            df['Departure Time'] > last_leg['Arrival Time act'][0])]
        temp_set = temp_set.sort_values(
            'Departure Time', ascending=True).reset_index(drop=True)
        new_leg = temp_set.iloc[0].to_frame().T
        terminal_gap, duty = setDuty(new_leg)
        if terminal_gap > 15 or duty > maxDuty:
            # trip.pop()
            #trip is invalid and this path cannot be continued by incrementing the 
            #temp set since the terminal gap exceeds
            return 1  
        # elif terminal_gap < 15 or duty > maxDuty:
        #     #terminal gap is satisfied ,so we can incrementing the temp set to find a valid trip 
        #     return 2
        
        """MUST CHECK LATER """
        """elif terminal_gap > 15 or duty < maxDuty:
            #split 
            #so check whether any split already there 
            #check whether it is more than 30 and the credentials are satisfied to consider it as a break 
            return 3"""
        
        trip[-1]['selected_leg']['Terminal Gap'] = terminal_gap
        trip.append({"selected_leg": new_leg,
                     "temp_set": temp_set.drop(0).reset_index(drop=True), 
                     "duty": duty, }
                    )
    return 0 #trip valid 


status = pushToTrip()
print(status)
getCurrentTrip()
# what happens if the first trip itself isn't valid

0

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,336,08:10:00,MC,NH,KLKV,10:00:00,40.0,01:50:00,5.0
5,695,10:05:00,KLKV,PVR-VZM-BYPASS-TVM-NH-KLKV,PSL,13:35:00,81.5,03:30:00,NaN

Steering Duty =  09:55:00
Spread Over =  09:55:00

In [215]:
def incrementTempSet():
        #check the duty an dif it is high correct it or else return False 
        temp = trip.pop()
        if len(temp['temp_set']) > 0:
                terminal_gap, duty = setDuty(temp['temp_set'].iloc[0].to_frame().T)
                trip[-1]['selected_leg']['Terminal Gap'] = terminal_gap
                temp['selected_leg'] = temp['temp_set'].iloc[0].to_frame().T
                temp['temp_set'] = (temp['temp_set'].drop(0)).reset_index(drop=True)
                temp['duty'] = duty
                trip.append(temp)
                return True
        else :
                return False

In [216]:
# for i in range(50):
i = 0 
while len(trip) > 0:
    status = pushToTrip()
    # print(status)
    if status == 0:#trip valid 
        print("Trip ", i)
        getCurrentTrip()
        while not incrementTempSet():
            continue
    elif status == 1:
        trip.pop()
        while not incrementTempSet():
            continue
    # elif status == 2:
    #     while x:=not incrementTempSet():
    #         continue
    #     print('haii')
    pushToTrip()
    i += 1

Trip  0

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,336,08:10:00,MC,NH,KLKV,10:00:00,40.0,01:50:00,5.0
5,695,10:05:00,KLKV,PVR-VZM-BYPASS-TVM-NH-KLKV,PSL,13:35:00,81.5,03:30:00,NaN

Steering Duty =  09:55:00
Spread Over =  09:55:00
Trip  4

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,5.0
5,199,09:15:00,NTA,PTM,MC,10:25:00,27.7,01:10:00,15.0
6,386,10:40:00,MC,NH,KLKV,12:30:00,40.0,01:50:00,5.0
7,72,12:35:00,KLKV,NH,PSL,12:45:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  09:05:00
Trip  5

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,5.0
5,199,09:15:00,NTA,PTM,MC,10:25:00,27.7,01:10:00,15.0
6,386,10:40:00,MC,NH,KLKV,12:30:00,40.0,01:50:00,15.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  08:45:00
Spread Over =  09:15:00
Trip  7

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,5.0
5,199,09:15:00,NTA,PTM,MC,10:25:00,27.7,01:10:00,20.0
6,649,10:45:00,MC,NTA-MJ-KRKM,PSL,12:45:00,46.0,02:00:00,NaN

Steering Duty =  08:45:00
Spread Over =  09:05:00
Trip  8

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,5.0
5,199,09:15:00,NTA,PTM,MC,10:25:00,27.7,01:10:00,25.0
6,389,10:50:00,MC,NH,KLKV,12:30:00,40.0,01:40:00,5.0
7,72,12:35:00,KLKV,NH,PSL,12:45:00,3.5,00:10:00,NaN

Steering Duty =  08:40:00
Spread Over =  09:05:00
Trip  9

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,5.0
5,199,09:15:00,NTA,PTM,MC,10:25:00,27.7,01:10:00,25.0
6,389,10:50:00,MC,NH,KLKV,12:30:00,40.0,01:40:00,15.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  08:35:00
Spread Over =  09:15:00
Trip  13

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,10.0
5,200,09:20:00,NTA,NH,TVM,10:10:00,20.7,00:50:00,5.0
6,376,10:15:00,TVM,NH,KLKV,11:30:00,33.7,01:15:00,5.0
7,66,11:35:00,KLKV,NH,PSL,11:45:00,3.5,00:10:00,NaN

Steering Duty =  08:05:00
Spread Over =  08:05:00
Trip  20

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,25.0
5,125,09:35:00,NTA,NH,TVM,10:20:00,20.7,00:45:00,10.0
6,316,10:30:00,TVM,NH,KLKV,11:45:00,33.7,01:15:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,10.0
8,563,12:45:00,VLRD,KRKM-KLKV,PSL,13:40:00,20.5,00:55:00,NaN

Steering Duty =  09:35:00
Spread Over =  10:00:00
Trip  21

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,25.0
5,125,09:35:00,NTA,NH,TVM,10:20:00,20.7,00:45:00,10.0
6,316,10:30:00,TVM,NH,KLKV,11:45:00,33.7,01:15:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,35.0
8,564,13:10:00,VLRD,KRKM,PSL,13:50:00,17.0,00:40:00,NaN

Steering Duty =  09:10:00
Spread Over =  10:10:00
Trip  22

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,25.0
5,125,09:35:00,NTA,NH,TVM,10:20:00,20.7,00:45:00,10.0
6,316,10:30:00,TVM,NH,KLKV,11:45:00,33.7,01:15:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,35.0
8,565,13:10:00,VLRD,KRKM-KLKV,PSL,14:00:00,20.5,00:50:00,NaN

Steering Duty =  09:20:00
Spread Over =  10:20:00
Trip  23

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,25.0
5,125,09:35:00,NTA,NH,TVM,10:20:00,20.7,00:45:00,10.0
6,316,10:30:00,TVM,NH,KLKV,11:45:00,33.7,01:15:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,45.0
8,566,13:20:00,VLRD,KRKM,PSL,14:00:00,17.0,00:40:00,NaN

Steering Duty =  09:10:00
Spread Over =  10:20:00
Trip  27

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,30.0
5,203,09:40:00,NTA,NH,TVM,10:30:00,20.7,00:50:00,10.0
6,385,10:40:00,TVM,NH,KLKV,12:00:00,33.7,01:20:00,5.0
7,67,12:05:00,KLKV,NH,PSL,12:15:00,3.5,00:10:00,NaN

Steering Duty =  08:05:00
Spread Over =  08:35:00
Trip  34

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,30.0
5,203,09:40:00,NTA,NH,TVM,10:30:00,20.7,00:50:00,40.0
6,395,11:10:00,TVM,NH,KLKV,12:40:00,33.7,01:30:00,5.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  08:05:00
Spread Over =  09:15:00
Trip  37

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,30.0
5,203,09:40:00,NTA,NH,TVM,10:30:00,20.7,00:50:00,50.0
6,398,11:20:00,TVM,NH,KLKV,12:40:00,33.7,01:20:00,5.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:15:00
Trip  39

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,30.0
5,203,09:40:00,NTA,NH,TVM,10:30:00,20.7,00:50:00,70.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,69,13:05:00,KLKV,NH,PSL,13:15:00,3.5,00:10:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:35:00
Trip  41

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,30.0
5,203,09:40:00,NTA,NH,TVM,10:30:00,20.7,00:50:00,70.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,78,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:30:00
Spread Over =  11:10:00
Trip  42

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,30.0
5,203,09:40:00,NTA,NH,TVM,10:30:00,20.7,00:50:00,70.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,79,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:30:00
Spread Over =  11:10:00
Trip  45

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,30.0
5,203,09:40:00,NTA,NH,TVM,10:30:00,20.7,00:50:00,70.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,10.0
7,83,13:10:00,KLKV,NH,PSL,13:20:00,3.5,00:10:00,NaN

Steering Duty =  08:00:00
Spread Over =  09:40:00
Trip  46

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,30.0
5,203,09:40:00,NTA,NH,TVM,10:30:00,20.7,00:50:00,70.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,10.0
7,71,13:10:00,KLKV,NH,PSL,13:15:00,3.5,00:05:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:35:00
Trip  48

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,30.0
5,203,09:40:00,NTA,NH,TVM,10:30:00,20.7,00:50:00,70.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,15.0
7,74,13:15:00,KLKV,NH,PSL,13:20:00,3.5,00:05:00,NaN

Steering Duty =  07:45:00
Spread Over =  09:40:00
Trip  61

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,40.0
5,207,09:50:00,NTA,NH,TVM,10:40:00,20.7,00:50:00,30.0
6,395,11:10:00,TVM,NH,KLKV,12:40:00,33.7,01:30:00,5.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  08:05:00
Spread Over =  09:15:00
Trip  64

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,40.0
5,207,09:50:00,NTA,NH,TVM,10:40:00,20.7,00:50:00,40.0
6,398,11:20:00,TVM,NH,KLKV,12:40:00,33.7,01:20:00,5.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:15:00
Trip  66

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,40.0
5,207,09:50:00,NTA,NH,TVM,10:40:00,20.7,00:50:00,60.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,69,13:05:00,KLKV,NH,PSL,13:15:00,3.5,00:10:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:35:00
Trip  68

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,40.0
5,207,09:50:00,NTA,NH,TVM,10:40:00,20.7,00:50:00,60.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,78,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:30:00
Spread Over =  11:10:00
Trip  69

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,40.0
5,207,09:50:00,NTA,NH,TVM,10:40:00,20.7,00:50:00,60.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,79,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:30:00
Spread Over =  11:10:00
Trip  72

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,40.0
5,207,09:50:00,NTA,NH,TVM,10:40:00,20.7,00:50:00,60.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,10.0
7,83,13:10:00,KLKV,NH,PSL,13:20:00,3.5,00:10:00,NaN

Steering Duty =  08:00:00
Spread Over =  09:40:00
Trip  73

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,40.0
5,207,09:50:00,NTA,NH,TVM,10:40:00,20.7,00:50:00,60.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,10.0
7,71,13:10:00,KLKV,NH,PSL,13:15:00,3.5,00:05:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:35:00
Trip  75

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,40.0
5,207,09:50:00,NTA,NH,TVM,10:40:00,20.7,00:50:00,60.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,15.0
7,74,13:15:00,KLKV,NH,PSL,13:20:00,3.5,00:05:00,NaN

Steering Duty =  07:45:00
Spread Over =  09:40:00
Trip  83

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,50.0
5,208,10:00:00,NTA,NH,TVM,10:50:00,20.7,00:50:00,20.0
6,395,11:10:00,TVM,NH,KLKV,12:40:00,33.7,01:30:00,5.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  08:05:00
Spread Over =  09:15:00
Trip  86

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,50.0
5,208,10:00:00,NTA,NH,TVM,10:50:00,20.7,00:50:00,30.0
6,398,11:20:00,TVM,NH,KLKV,12:40:00,33.7,01:20:00,5.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:15:00
Trip  88

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,50.0
5,208,10:00:00,NTA,NH,TVM,10:50:00,20.7,00:50:00,50.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,69,13:05:00,KLKV,NH,PSL,13:15:00,3.5,00:10:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:35:00
Trip  90

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,50.0
5,208,10:00:00,NTA,NH,TVM,10:50:00,20.7,00:50:00,50.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,78,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:30:00
Spread Over =  11:10:00
Trip  91

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,50.0
5,208,10:00:00,NTA,NH,TVM,10:50:00,20.7,00:50:00,50.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,79,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:30:00
Spread Over =  11:10:00
Trip  94

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,50.0
5,208,10:00:00,NTA,NH,TVM,10:50:00,20.7,00:50:00,50.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,10.0
7,83,13:10:00,KLKV,NH,PSL,13:20:00,3.5,00:10:00,NaN

Steering Duty =  08:00:00
Spread Over =  09:40:00
Trip  95

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,50.0
5,208,10:00:00,NTA,NH,TVM,10:50:00,20.7,00:50:00,50.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,10.0
7,71,13:10:00,KLKV,NH,PSL,13:15:00,3.5,00:05:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:35:00
Trip  97

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,50.0
5,208,10:00:00,NTA,NH,TVM,10:50:00,20.7,00:50:00,50.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,15.0
7,74,13:15:00,KLKV,NH,PSL,13:20:00,3.5,00:05:00,NaN

Steering Duty =  07:45:00
Spread Over =  09:40:00
Trip  103

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,65.0
5,210,10:15:00,NTA,NH,TVM,11:05:00,20.7,00:50:00,5.0
6,395,11:10:00,TVM,NH,KLKV,12:40:00,33.7,01:30:00,5.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  08:10:00
Spread Over =  09:15:00
Trip  106

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,65.0
5,210,10:15:00,NTA,NH,TVM,11:05:00,20.7,00:50:00,15.0
6,398,11:20:00,TVM,NH,KLKV,12:40:00,33.7,01:20:00,5.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:15:00
Trip  108

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,65.0
5,210,10:15:00,NTA,NH,TVM,11:05:00,20.7,00:50:00,35.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,69,13:05:00,KLKV,NH,PSL,13:15:00,3.5,00:10:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:35:00
Trip  110

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,65.0
5,210,10:15:00,NTA,NH,TVM,11:05:00,20.7,00:50:00,35.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,78,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:30:00
Spread Over =  11:10:00
Trip  111

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,65.0
5,210,10:15:00,NTA,NH,TVM,11:05:00,20.7,00:50:00,35.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,79,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:30:00
Spread Over =  11:10:00
Trip  114

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,65.0
5,210,10:15:00,NTA,NH,TVM,11:05:00,20.7,00:50:00,35.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,10.0
7,83,13:10:00,KLKV,NH,PSL,13:20:00,3.5,00:10:00,NaN

Steering Duty =  08:00:00
Spread Over =  09:40:00
Trip  115

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,65.0
5,210,10:15:00,NTA,NH,TVM,11:05:00,20.7,00:50:00,35.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,10.0
7,71,13:10:00,KLKV,NH,PSL,13:15:00,3.5,00:05:00,NaN

Steering Duty =  07:55:00
Spread Over =  09:35:00
Trip  117

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,65.0
5,210,10:15:00,NTA,NH,TVM,11:05:00,20.7,00:50:00,35.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,15.0
7,74,13:15:00,KLKV,NH,PSL,13:20:00,3.5,00:05:00,NaN

Steering Duty =  07:45:00
Spread Over =  09:40:00
Trip  123

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,75.0
5,212,10:25:00,NTA,PTM,MC,11:35:00,27.7,01:10:00,5.0
6,432,11:40:00,MC,NH,KLKV,13:30:00,40.0,01:50:00,5.0
7,88,13:35:00,KLKV,NH,PSL,13:45:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  10:05:00
Trip  124

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,75.0
5,212,10:25:00,NTA,PTM,MC,11:35:00,27.7,01:10:00,5.0
6,432,11:40:00,MC,NH,KLKV,13:30:00,40.0,01:50:00,10.0
7,73,13:40:00,KLKV,NH,PSL,13:50:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  10:10:00
Trip  128

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,75.0
5,212,10:25:00,NTA,PTM,MC,11:35:00,27.7,01:10:00,15.0
6,407,11:50:00,MC,NH,KLKV,13:30:00,40.0,01:40:00,5.0
7,88,13:35:00,KLKV,NH,PSL,13:45:00,3.5,00:10:00,NaN

Steering Duty =  08:35:00
Spread Over =  10:05:00
Trip  129

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,75.0
5,212,10:25:00,NTA,PTM,MC,11:35:00,27.7,01:10:00,15.0
6,407,11:50:00,MC,NH,KLKV,13:30:00,40.0,01:40:00,10.0
7,73,13:40:00,KLKV,NH,PSL,13:50:00,3.5,00:10:00,NaN

Steering Duty =  08:40:00
Spread Over =  10:10:00
Trip  132

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,75.0
5,212,10:25:00,NTA,PTM,MC,11:35:00,27.7,01:10:00,45.0
6,405,12:20:00,MC,NH,KLKV,14:05:00,40.0,01:45:00,5.0
7,81,14:10:00,KLKV,NH,PSL,14:20:00,3.5,00:10:00,NaN

Steering Duty =  08:40:00
Spread Over =  10:40:00
Trip  133

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,75.0
5,212,10:25:00,NTA,PTM,MC,11:35:00,27.7,01:10:00,45.0
6,405,12:20:00,MC,NH,KLKV,14:05:00,40.0,01:45:00,10.0
7,91,14:15:00,KLKV,NH,PSL,14:25:00,3.5,00:10:00,NaN

Steering Duty =  08:45:00
Spread Over =  10:45:00
Trip  135

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,10.0
4,341,08:10:00,MC,PTM,NTA,09:10:00,27.7,01:00:00,75.0
5,212,10:25:00,NTA,PTM,MC,11:35:00,27.7,01:10:00,55.0
6,347,12:30:00,MC,NH,KLKV,14:10:00,40.0,01:40:00,5.0
7,91,14:15:00,KLKV,NH,PSL,14:25:00,3.5,00:10:00,NaN

Steering Duty =  08:35:00
Spread Over =  10:45:00
Trip  140

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,209,10:00:00,KLKV,NH,MC,11:40:00,40.0,01:40:00,10.0
6,407,11:50:00,MC,NH,KLKV,13:30:00,40.0,01:40:00,5.0
7,88,13:35:00,KLKV,NH,PSL,13:45:00,3.5,00:10:00,NaN

Steering Duty =  09:50:00
Spread Over =  10:05:00
Trip  141

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,209,10:00:00,KLKV,NH,MC,11:40:00,40.0,01:40:00,10.0
6,407,11:50:00,MC,NH,KLKV,13:30:00,40.0,01:40:00,10.0
7,73,13:40:00,KLKV,NH,PSL,13:50:00,3.5,00:10:00,NaN

Steering Duty =  09:55:00
Spread Over =  10:10:00
Trip  144

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,10.0
6,559,10:50:00,VLRD,KRKM,KLKV,11:30:00,17.0,00:40:00,5.0
7,66,11:35:00,KLKV,NH,PSL,11:45:00,3.5,00:10:00,NaN

Steering Duty =  07:50:00
Spread Over =  08:05:00
Trip  147

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,25.0
6,561,11:05:00,VLRD,KRKM,KLKV,11:45:00,17.0,00:40:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,10.0
8,563,12:45:00,VLRD,KRKM-KLKV,PSL,13:40:00,20.5,00:55:00,NaN

Steering Duty =  09:20:00
Spread Over =  10:00:00
Trip  148

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,25.0
6,561,11:05:00,VLRD,KRKM,KLKV,11:45:00,17.0,00:40:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,35.0
8,564,13:10:00,VLRD,KRKM,PSL,13:50:00,17.0,00:40:00,NaN

Steering Duty =  08:55:00
Spread Over =  10:10:00
Trip  149

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,25.0
6,561,11:05:00,VLRD,KRKM,KLKV,11:45:00,17.0,00:40:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,35.0
8,565,13:10:00,VLRD,KRKM-KLKV,PSL,14:00:00,20.5,00:50:00,NaN

Steering Duty =  09:05:00
Spread Over =  10:20:00
Trip  150

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,25.0
6,561,11:05:00,VLRD,KRKM,KLKV,11:45:00,17.0,00:40:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,45.0
8,566,13:20:00,VLRD,KRKM,PSL,14:00:00,17.0,00:40:00,NaN

Steering Duty =  08:55:00
Spread Over =  10:20:00
Trip  153

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,40.0
6,682,11:20:00,VLRD,KRKM,KLKV,12:00:00,17.0,00:40:00,5.0
7,67,12:05:00,KLKV,NH,PSL,12:15:00,3.5,00:10:00,NaN

Steering Duty =  07:40:00
Spread Over =  08:35:00
Trip  155

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,40.0
6,560,11:20:00,VLRD,KRKM,KLKV,12:00:00,17.0,00:40:00,5.0
7,67,12:05:00,KLKV,NH,PSL,12:15:00,3.5,00:10:00,NaN

Steering Duty =  07:40:00
Spread Over =  08:35:00
Trip  159

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,60.0
6,726,11:40:00,VLRD,KRKM-KLKV,PSL,12:30:00,20.5,00:50:00,NaN

Steering Duty =  07:35:00
Spread Over =  08:50:00
Trip  160

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,60.0
6,562,11:40:00,VLRD,KRKM,KLKV,12:20:00,17.0,00:40:00,10.0
7,522,12:30:00,KLKV,KRKM,VLRD,13:10:00,17.0,00:40:00,10.0
8,566,13:20:00,VLRD,KRKM,PSL,14:00:00,17.0,00:40:00,NaN

Steering Duty =  09:05:00
Spread Over =  10:20:00
Trip  162

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,60.0
6,562,11:40:00,VLRD,KRKM,KLKV,12:20:00,17.0,00:40:00,15.0
7,72,12:35:00,KLKV,NH,PSL,12:45:00,3.5,00:10:00,NaN

Steering Duty =  07:35:00
Spread Over =  09:05:00
Trip  163

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,60.0
6,562,11:40:00,VLRD,KRKM,KLKV,12:20:00,17.0,00:40:00,25.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  07:35:00
Spread Over =  09:15:00
Trip  165

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,80.0
6,577,12:00:00,VLRD,KRKM-KLKV,PSL,13:00:00,20.5,01:00:00,NaN

Steering Duty =  07:45:00
Spread Over =  09:20:00
Trip  166

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,100.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,5.0
7,69,13:05:00,KLKV,NH,PSL,13:15:00,3.5,00:10:00,NaN

Steering Duty =  07:40:00
Spread Over =  09:35:00
Trip  168

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,100.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,78,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:15:00
Spread Over =  11:10:00
Trip  169

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,100.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,79,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:15:00
Spread Over =  11:10:00
Trip  172

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,100.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,10.0
7,83,13:10:00,KLKV,NH,PSL,13:20:00,3.5,00:10:00,NaN

Steering Duty =  07:45:00
Spread Over =  09:40:00
Trip  173

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,100.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,10.0
7,71,13:10:00,KLKV,NH,PSL,13:15:00,3.5,00:05:00,NaN

Steering Duty =  07:40:00
Spread Over =  09:35:00
Trip  175

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,100.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,15.0
7,74,13:15:00,KLKV,NH,PSL,13:20:00,3.5,00:05:00,NaN

Steering Duty =  07:30:00
Spread Over =  09:40:00
Trip  178

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,125.0
6,563,12:45:00,VLRD,KRKM-KLKV,PSL,13:40:00,20.5,00:55:00,NaN

Steering Duty =  07:40:00
Spread Over =  10:00:00
Trip  179

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,150.0
6,564,13:10:00,VLRD,KRKM,PSL,13:50:00,17.0,00:40:00,NaN

Steering Duty =  07:25:00
Spread Over =  10:10:00
Trip  180

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,150.0
6,565,13:10:00,VLRD,KRKM-KLKV,PSL,14:00:00,20.5,00:50:00,NaN

Steering Duty =  07:35:00
Spread Over =  10:20:00
Trip  181

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,160.0
6,566,13:20:00,VLRD,KRKM,PSL,14:00:00,17.0,00:40:00,NaN

Steering Duty =  07:25:00
Spread Over =  10:20:00
Trip  183

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,195.0
6,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
7,78,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  07:40:00
Spread Over =  11:10:00
Trip  184

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,10.0
5,514,10:00:00,KLKV,KRKM,VLRD,10:40:00,17.0,00:40:00,195.0
6,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
7,79,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  07:40:00
Spread Over =  11:10:00
Trip  188

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,15.0
5,695,10:05:00,KLKV,PVR-VZM-BYPASS-TVM-NH-KLKV,PSL,13:35:00,81.5,03:30:00,NaN

Steering Duty =  09:25:00
Spread Over =  09:55:00
Trip  190

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,20.0
5,211,10:10:00,KLKV,NH,TVM,11:30:00,33.7,01:20:00,10.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,69,13:05:00,KLKV,NH,PSL,13:15:00,3.5,00:10:00,NaN

Steering Duty =  09:00:00
Spread Over =  09:35:00
Trip  194

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,201,10:15:00,KLKV,NH,TVM,11:35:00,33.7,01:20:00,5.0
6,400,11:40:00,TVM,NH,KLKV,13:00:00,33.7,01:20:00,5.0
7,69,13:05:00,KLKV,NH,PSL,13:15:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  09:35:00
Trip  199

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,10.0
6,561,11:05:00,VLRD,KRKM,KLKV,11:45:00,17.0,00:40:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,10.0
8,563,12:45:00,VLRD,KRKM-KLKV,PSL,13:40:00,20.5,00:55:00,NaN

Steering Duty =  09:20:00
Spread Over =  10:00:00
Trip  200

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,10.0
6,561,11:05:00,VLRD,KRKM,KLKV,11:45:00,17.0,00:40:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,35.0
8,564,13:10:00,VLRD,KRKM,PSL,13:50:00,17.0,00:40:00,NaN

Steering Duty =  08:55:00
Spread Over =  10:10:00
Trip  201

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,10.0
6,561,11:05:00,VLRD,KRKM,KLKV,11:45:00,17.0,00:40:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,35.0
8,565,13:10:00,VLRD,KRKM-KLKV,PSL,14:00:00,20.5,00:50:00,NaN

Steering Duty =  09:05:00
Spread Over =  10:20:00
Trip  202

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,10.0
6,561,11:05:00,VLRD,KRKM,KLKV,11:45:00,17.0,00:40:00,10.0
7,519,11:55:00,KLKV,KRKM,VLRD,12:35:00,17.0,00:40:00,45.0
8,566,13:20:00,VLRD,KRKM,PSL,14:00:00,17.0,00:40:00,NaN

Steering Duty =  08:55:00
Spread Over =  10:20:00
Trip  205

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,25.0
6,682,11:20:00,VLRD,KRKM,KLKV,12:00:00,17.0,00:40:00,5.0
7,67,12:05:00,KLKV,NH,PSL,12:15:00,3.5,00:10:00,NaN

Steering Duty =  07:30:00
Spread Over =  08:35:00
Trip  207

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,25.0
6,560,11:20:00,VLRD,KRKM,KLKV,12:00:00,17.0,00:40:00,5.0
7,67,12:05:00,KLKV,NH,PSL,12:15:00,3.5,00:10:00,NaN

Steering Duty =  07:30:00
Spread Over =  08:35:00
Trip  211

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,45.0
6,726,11:40:00,VLRD,KRKM-KLKV,PSL,12:30:00,20.5,00:50:00,NaN

Steering Duty =  07:25:00
Spread Over =  08:50:00
Trip  212

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,45.0
6,562,11:40:00,VLRD,KRKM,KLKV,12:20:00,17.0,00:40:00,10.0
7,522,12:30:00,KLKV,KRKM,VLRD,13:10:00,17.0,00:40:00,10.0
8,566,13:20:00,VLRD,KRKM,PSL,14:00:00,17.0,00:40:00,NaN

Steering Duty =  08:55:00
Spread Over =  10:20:00
Trip  214

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,45.0
6,562,11:40:00,VLRD,KRKM,KLKV,12:20:00,17.0,00:40:00,15.0
7,72,12:35:00,KLKV,NH,PSL,12:45:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  09:05:00
Trip  215

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,45.0
6,562,11:40:00,VLRD,KRKM,KLKV,12:20:00,17.0,00:40:00,25.0
7,68,12:45:00,KLKV,NH,PSL,12:55:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  09:15:00
Trip  217

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,65.0
6,577,12:00:00,VLRD,KRKM-KLKV,PSL,13:00:00,20.5,01:00:00,NaN

Steering Duty =  07:35:00
Spread Over =  09:20:00
Trip  218

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,85.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,5.0
7,69,13:05:00,KLKV,NH,PSL,13:15:00,3.5,00:10:00,NaN

Steering Duty =  07:30:00
Spread Over =  09:35:00
Trip  220

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,85.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,5.0
7,635,13:05:00,KLKV,PLKDA-PZKNU,VLKA,13:35:00,13.0,00:30:00,195.0
8,640,16:50:00,VLKA,PZKNU,PSL,17:15:00,11.0,00:25:00,NaN

Steering Duty =  08:15:00
Spread Over =  13:35:00
Trip  221

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,85.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,78,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  11:10:00
Trip  222

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,85.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,5.0
7,524,13:05:00,KLKV,KRKM,VLRD,13:45:00,17.0,00:40:00,10.0
8,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
9,79,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  11:10:00
Trip  225

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,85.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,10.0
7,83,13:10:00,KLKV,NH,PSL,13:20:00,3.5,00:10:00,NaN

Steering Duty =  07:35:00
Spread Over =  09:40:00
Trip  226

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,85.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,10.0
7,71,13:10:00,KLKV,NH,PSL,13:15:00,3.5,00:05:00,NaN

Steering Duty =  07:30:00
Spread Over =  09:35:00
Trip  228

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,85.0
6,549,12:20:00,VLRD,KRKM,KLKV,13:00:00,17.0,00:40:00,15.0
7,74,13:15:00,KLKV,NH,PSL,13:20:00,3.5,00:05:00,NaN

Steering Duty =  07:20:00
Spread Over =  09:40:00
Trip  231

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,110.0
6,563,12:45:00,VLRD,KRKM-KLKV,PSL,13:40:00,20.5,00:55:00,NaN

Steering Duty =  07:30:00
Spread Over =  10:00:00
Trip  232

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,135.0
6,564,13:10:00,VLRD,KRKM,PSL,13:50:00,17.0,00:40:00,NaN

Steering Duty =  07:15:00
Spread Over =  10:10:00
Trip  233

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,135.0
6,565,13:10:00,VLRD,KRKM-KLKV,PSL,14:00:00,20.5,00:50:00,NaN

Steering Duty =  07:25:00
Spread Over =  10:20:00
Trip  234

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,145.0
6,566,13:20:00,VLRD,KRKM,PSL,14:00:00,17.0,00:40:00,NaN

Steering Duty =  07:15:00
Spread Over =  10:20:00
Trip  236

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,180.0
6,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
7,78,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  07:30:00
Spread Over =  11:10:00
Trip  237

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,180.0
6,568,13:55:00,VLRD,KRKM,KLKV,14:35:00,17.0,00:40:00,5.0
7,79,14:40:00,KLKV,NH,PSL,14:50:00,3.5,00:10:00,NaN

Steering Duty =  07:30:00
Spread Over =  11:10:00
Trip  240

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,10.0
8,581,16:40:00,VLRD,KRKM-KLKV,PSL,17:30:00,20.5,00:50:00,NaN

Steering Duty =  09:15:00
Spread Over =  13:50:00
Trip  241

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,25.0
8,554,16:55:00,VLRD,KRKM-KLKV,PSL,17:45:00,20.5,00:50:00,NaN

Steering Duty =  09:05:00
Spread Over =  14:05:00
Trip  242

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,35.0
8,575,17:05:00,VLRD,KRKM,PSL,17:45:00,17.0,00:40:00,NaN

Steering Duty =  08:55:00
Spread Over =  14:05:00
Trip  244

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,80.0
8,572,17:50:00,VLRD,KRKM,PSL,18:30:00,17.0,00:40:00,NaN

Steering Duty =  08:55:00
Spread Over =  14:50:00
Trip  245

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,110.0
8,579,18:20:00,VLRD,KRKM,PSL,19:00:00,17.0,00:40:00,NaN

Steering Duty =  08:55:00
Spread Over =  15:20:00
Trip  246

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,130.0
8,705,18:40:00,VLRD,KRKM-KLKV,PSL,19:30:00,20.5,00:50:00,NaN

Steering Duty =  09:05:00
Spread Over =  15:50:00
Trip  247

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,165.0
8,580,19:15:00,VLRD,KRKM,PSL,19:55:00,17.0,00:40:00,NaN

Steering Duty =  08:55:00
Spread Over =  16:15:00
Trip  248

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,15.0
9,116,20:55:00,KLKV,NH,PSL,21:05:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  17:25:00
Trip  249

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,20.0
9,113,21:00:00,KLKV,NH,PSL,21:10:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  17:30:00
Trip  250

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,20.0
9,117,21:00:00,KLKV,NH,PSL,21:10:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  17:30:00
Trip  251

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,25.0
9,115,21:05:00,KLKV,NH,PSL,21:15:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  17:35:00
Trip  252

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,35.0
9,118,21:15:00,KLKV,NH,PSL,21:25:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  17:45:00
Trip  253

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,50.0
9,119,21:30:00,KLKV,NH,PSL,21:40:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  18:00:00
Trip  254

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,100.0
9,112,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  18:50:00
Trip  255

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,100.0
9,120,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  18:50:00
Trip  256

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,110.0
9,108,22:30:00,KLKV,NH,PSL,22:35:00,3.5,00:05:00,NaN

Steering Duty =  09:00:00
Spread Over =  18:55:00
Trip  257

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,115.0
9,122,22:35:00,KLKV,NH,PSL,22:45:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  19:05:00
Trip  258

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,130.0
9,121,22:50:00,KLKV,NH,PSL,23:00:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  19:20:00
Trip  259

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,135.0
9,104,22:55:00,KLKV,NH,PSL,23:00:00,3.5,00:05:00,NaN

Steering Duty =  09:00:00
Spread Over =  19:20:00
Trip  260

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,150.0
9,106,23:10:00,KLKV,NH,PSL,23:15:00,3.5,00:05:00,NaN

Steering Duty =  09:00:00
Spread Over =  19:35:00
Trip  261

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,210.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,175.0
9,123,23:35:00,KLKV,NH,PSL,23:45:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  20:05:00
Trip  262

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,230.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,5.0
9,115,21:05:00,KLKV,NH,PSL,21:15:00,3.5,00:10:00,NaN

Steering Duty =  09:10:00
Spread Over =  17:35:00
Trip  263

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,230.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,15.0
9,118,21:15:00,KLKV,NH,PSL,21:25:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  17:45:00
Trip  264

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,230.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,30.0
9,119,21:30:00,KLKV,NH,PSL,21:40:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  18:00:00
Trip  265

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,230.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,80.0
9,112,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  18:50:00
Trip  266

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,230.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,80.0
9,120,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  18:50:00
Trip  267

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,230.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,90.0
9,108,22:30:00,KLKV,NH,PSL,22:35:00,3.5,00:05:00,NaN

Steering Duty =  09:00:00
Spread Over =  18:55:00
Trip  268

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,230.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,95.0
9,122,22:35:00,KLKV,NH,PSL,22:45:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  19:05:00
Trip  269

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,230.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,110.0
9,121,22:50:00,KLKV,NH,PSL,23:00:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  19:20:00
Trip  270

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,230.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,115.0
9,104,22:55:00,KLKV,NH,PSL,23:00:00,3.5,00:05:00,NaN

Steering Duty =  09:00:00
Spread Over =  19:20:00
Trip  271

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,230.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,130.0
9,106,23:10:00,KLKV,NH,PSL,23:15:00,3.5,00:05:00,NaN

Steering Duty =  09:00:00
Spread Over =  19:35:00
Trip  272

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,235.0
6,570,14:50:00,VLRD,KRKM,KLKV,15:40:00,17.0,00:50:00,10.0
7,534,15:50:00,KLKV,KRKM,VLRD,16:30:00,17.0,00:40:00,230.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,155.0
9,123,23:35:00,KLKV,NH,PSL,23:45:00,3.5,00:10:00,NaN

Steering Duty =  09:05:00
Spread Over =  20:05:00
Trip  275

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,255.0
6,569,15:10:00,VLRD,KRKM-KLKV,PSL,16:00:00,20.5,00:50:00,NaN

Steering Duty =  07:25:00
Spread Over =  12:20:00
Trip  276

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,255.0
6,576,15:10:00,VLRD,KRKM,PSL,15:50:00,17.0,00:40:00,NaN

Steering Duty =  07:15:00
Spread Over =  12:10:00
Trip  277

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,10.0
8,554,16:55:00,VLRD,KRKM-KLKV,PSL,17:45:00,20.5,00:50:00,NaN

Steering Duty =  09:00:00
Spread Over =  14:05:00
Trip  278

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,20.0
8,575,17:05:00,VLRD,KRKM,PSL,17:45:00,17.0,00:40:00,NaN

Steering Duty =  08:40:00
Spread Over =  14:05:00
Trip  280

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,65.0
8,572,17:50:00,VLRD,KRKM,PSL,18:30:00,17.0,00:40:00,NaN

Steering Duty =  08:40:00
Spread Over =  14:50:00
Trip  281

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,95.0
8,579,18:20:00,VLRD,KRKM,PSL,19:00:00,17.0,00:40:00,NaN

Steering Duty =  08:40:00
Spread Over =  15:20:00
Trip  282

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,115.0
8,705,18:40:00,VLRD,KRKM-KLKV,PSL,19:30:00,20.5,00:50:00,NaN

Steering Duty =  08:50:00
Spread Over =  15:50:00
Trip  283

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,150.0
8,580,19:15:00,VLRD,KRKM,PSL,19:55:00,17.0,00:40:00,NaN

Steering Duty =  08:40:00
Spread Over =  16:15:00
Trip  284

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,15.0
9,116,20:55:00,KLKV,NH,PSL,21:05:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  17:25:00
Trip  285

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,20.0
9,113,21:00:00,KLKV,NH,PSL,21:10:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  17:30:00
Trip  286

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,20.0
9,117,21:00:00,KLKV,NH,PSL,21:10:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  17:30:00
Trip  287

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,25.0
9,115,21:05:00,KLKV,NH,PSL,21:15:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  17:35:00
Trip  288

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,35.0
9,118,21:15:00,KLKV,NH,PSL,21:25:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  17:45:00
Trip  289

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,50.0
9,119,21:30:00,KLKV,NH,PSL,21:40:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  18:00:00
Trip  290

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,100.0
9,112,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  18:50:00
Trip  291

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,100.0
9,120,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  18:50:00
Trip  292

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,110.0
9,108,22:30:00,KLKV,NH,PSL,22:35:00,3.5,00:05:00,NaN

Steering Duty =  08:45:00
Spread Over =  18:55:00
Trip  293

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,115.0
9,122,22:35:00,KLKV,NH,PSL,22:45:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  19:05:00
Trip  294

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,130.0
9,121,22:50:00,KLKV,NH,PSL,23:00:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  19:20:00
Trip  295

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,135.0
9,104,22:55:00,KLKV,NH,PSL,23:00:00,3.5,00:05:00,NaN

Steering Duty =  08:45:00
Spread Over =  19:20:00
Trip  296

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,150.0
9,106,23:10:00,KLKV,NH,PSL,23:15:00,3.5,00:05:00,NaN

Steering Duty =  08:45:00
Spread Over =  19:35:00
Trip  297

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,195.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,175.0
9,123,23:35:00,KLKV,NH,PSL,23:45:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  20:05:00
Trip  298

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,215.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,5.0
9,115,21:05:00,KLKV,NH,PSL,21:15:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  17:35:00
Trip  299

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,215.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,15.0
9,118,21:15:00,KLKV,NH,PSL,21:25:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  17:45:00
Trip  300

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,215.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,30.0
9,119,21:30:00,KLKV,NH,PSL,21:40:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  18:00:00
Trip  301

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,215.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,80.0
9,112,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  18:50:00
Trip  302

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,215.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,80.0
9,120,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  18:50:00
Trip  303

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,215.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,90.0
9,108,22:30:00,KLKV,NH,PSL,22:35:00,3.5,00:05:00,NaN

Steering Duty =  08:45:00
Spread Over =  18:55:00
Trip  304

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,215.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,95.0
9,122,22:35:00,KLKV,NH,PSL,22:45:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  19:05:00
Trip  305

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,215.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,110.0
9,121,22:50:00,KLKV,NH,PSL,23:00:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  19:20:00
Trip  306

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,215.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,115.0
9,104,22:55:00,KLKV,NH,PSL,23:00:00,3.5,00:05:00,NaN

Steering Duty =  08:45:00
Spread Over =  19:20:00
Trip  307

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,215.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,130.0
9,106,23:10:00,KLKV,NH,PSL,23:15:00,3.5,00:05:00,NaN

Steering Duty =  08:45:00
Spread Over =  19:35:00
Trip  308

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,265.0
6,571,15:20:00,VLRD,KRKM,KLKV,16:00:00,17.0,00:40:00,5.0
7,539,16:05:00,KLKV,KRKM,VLRD,16:45:00,17.0,00:40:00,215.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,155.0
9,123,23:35:00,KLKV,NH,PSL,23:45:00,3.5,00:10:00,NaN

Steering Duty =  08:50:00
Spread Over =  20:05:00
Trip  311

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,325.0
6,574,16:20:00,VLRD,KRKM,KLKV,17:00:00,17.0,00:40:00,5.0
7,96,17:05:00,KLKV,NH,PSL,17:10:00,3.5,00:05:00,NaN

Steering Duty =  07:25:00
Spread Over =  13:30:00
Trip  312

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,325.0
6,574,16:20:00,VLRD,KRKM,KLKV,17:00:00,17.0,00:40:00,10.0
7,703,17:10:00,KLKV,PZKNU-PZKA-KJKM-PVR-URB,KLKV,18:50:00,39.0,01:40:00,5.0
8,90,18:55:00,KLKV,NH,PSL,19:05:00,3.5,00:10:00,NaN

Steering Duty =  09:20:00
Spread Over =  15:25:00
Trip  313

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,325.0
6,574,16:20:00,VLRD,KRKM,KLKV,17:00:00,17.0,00:40:00,10.0
7,703,17:10:00,KLKV,PZKNU-PZKA-KJKM-PVR-URB,KLKV,18:50:00,39.0,01:40:00,5.0
8,103,18:55:00,KLKV,NH,PSL,19:00:00,3.5,00:05:00,NaN

Steering Duty =  09:15:00
Spread Over =  15:20:00
Trip  316

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,345.0
6,581,16:40:00,VLRD,KRKM-KLKV,PSL,17:30:00,20.5,00:50:00,NaN

Steering Duty =  07:25:00
Spread Over =  13:50:00
Trip  317

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,360.0
6,554,16:55:00,VLRD,KRKM-KLKV,PSL,17:45:00,20.5,00:50:00,NaN

Steering Duty =  07:25:00
Spread Over =  14:05:00
Trip  318

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,370.0
6,575,17:05:00,VLRD,KRKM,PSL,17:45:00,17.0,00:40:00,NaN

Steering Duty =  07:15:00
Spread Over =  14:05:00
Trip  319

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,10.0
8,580,19:15:00,VLRD,KRKM,PSL,19:55:00,17.0,00:40:00,NaN

Steering Duty =  08:55:00
Spread Over =  16:15:00
Trip  320

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,15.0
9,116,20:55:00,KLKV,NH,PSL,21:05:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  17:25:00
Trip  321

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,20.0
9,113,21:00:00,KLKV,NH,PSL,21:10:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  17:30:00
Trip  322

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,20.0
9,117,21:00:00,KLKV,NH,PSL,21:10:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  17:30:00
Trip  323

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,25.0
9,115,21:05:00,KLKV,NH,PSL,21:15:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  17:35:00
Trip  324

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,35.0
9,118,21:15:00,KLKV,NH,PSL,21:25:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  17:45:00
Trip  325

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,50.0
9,119,21:30:00,KLKV,NH,PSL,21:40:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  18:00:00
Trip  326

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,100.0
9,112,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  18:50:00
Trip  327

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,100.0
9,120,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  18:50:00
Trip  328

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,110.0
9,108,22:30:00,KLKV,NH,PSL,22:35:00,3.5,00:05:00,NaN

Steering Duty =  08:50:00
Spread Over =  18:55:00
Trip  329

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,115.0
9,122,22:35:00,KLKV,NH,PSL,22:45:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  19:05:00
Trip  330

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,130.0
9,121,22:50:00,KLKV,NH,PSL,23:00:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  19:20:00
Trip  331

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,135.0
9,104,22:55:00,KLKV,NH,PSL,23:00:00,3.5,00:05:00,NaN

Steering Duty =  08:50:00
Spread Over =  19:20:00
Trip  332

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,150.0
9,106,23:10:00,KLKV,NH,PSL,23:15:00,3.5,00:05:00,NaN

Steering Duty =  08:50:00
Spread Over =  19:35:00
Trip  333

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,55.0
8,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,175.0
9,123,23:35:00,KLKV,NH,PSL,23:45:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  20:05:00
Trip  334

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,75.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,5.0
9,115,21:05:00,KLKV,NH,PSL,21:15:00,3.5,00:10:00,NaN

Steering Duty =  09:00:00
Spread Over =  17:35:00
Trip  335

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,75.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,15.0
9,118,21:15:00,KLKV,NH,PSL,21:25:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  17:45:00
Trip  336

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,75.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,30.0
9,119,21:30:00,KLKV,NH,PSL,21:40:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  18:00:00
Trip  337

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,75.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,80.0
9,112,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  18:50:00
Trip  338

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,75.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,80.0
9,120,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  18:50:00
Trip  339

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,75.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,90.0
9,108,22:30:00,KLKV,NH,PSL,22:35:00,3.5,00:05:00,NaN

Steering Duty =  08:50:00
Spread Over =  18:55:00
Trip  340

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,75.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,95.0
9,122,22:35:00,KLKV,NH,PSL,22:45:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  19:05:00
Trip  341

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,75.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,110.0
9,121,22:50:00,KLKV,NH,PSL,23:00:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  19:20:00
Trip  342

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,75.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,115.0
9,104,22:55:00,KLKV,NH,PSL,23:00:00,3.5,00:05:00,NaN

Steering Duty =  08:50:00
Spread Over =  19:20:00
Trip  343

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,75.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,130.0
9,106,23:10:00,KLKV,NH,PSL,23:15:00,3.5,00:05:00,NaN

Steering Duty =  08:50:00
Spread Over =  19:35:00
Trip  344

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,538,18:25:00,KLKV,KRKM,VLRD,19:05:00,17.0,00:40:00,75.0
8,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,155.0
9,123,23:35:00,KLKV,NH,PSL,23:45:00,3.5,00:10:00,NaN

Steering Duty =  08:55:00
Spread Over =  20:05:00
Trip  345

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,10.0
7,100,18:25:00,KLKV,NH,PSL,18:35:00,3.5,00:10:00,NaN

Steering Duty =  07:35:00
Spread Over =  14:55:00
Trip  346

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,400.0
6,578,17:35:00,VLRD,KRKM,KLKV,18:15:00,17.0,00:40:00,15.0
7,101,18:30:00,KLKV,NH,PSL,18:40:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  15:00:00
Trip  348

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,415.0
6,572,17:50:00,VLRD,KRKM,PSL,18:30:00,17.0,00:40:00,NaN

Steering Duty =  07:15:00
Spread Over =  14:50:00
Trip  349

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,445.0
6,579,18:20:00,VLRD,KRKM,PSL,19:00:00,17.0,00:40:00,NaN

Steering Duty =  07:15:00
Spread Over =  15:20:00
Trip  350

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,465.0
6,705,18:40:00,VLRD,KRKM-KLKV,PSL,19:30:00,20.5,00:50:00,NaN

Steering Duty =  07:25:00
Spread Over =  15:50:00
Trip  351

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,500.0
6,580,19:15:00,VLRD,KRKM,PSL,19:55:00,17.0,00:40:00,NaN

Steering Duty =  07:15:00
Spread Over =  16:15:00
Trip  352

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,15.0
7,116,20:55:00,KLKV,NH,PSL,21:05:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  17:25:00
Trip  353

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,20.0
7,113,21:00:00,KLKV,NH,PSL,21:10:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  17:30:00
Trip  354

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,20.0
7,117,21:00:00,KLKV,NH,PSL,21:10:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  17:30:00
Trip  355

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,25.0
7,115,21:05:00,KLKV,NH,PSL,21:15:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  17:35:00
Trip  356

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,35.0
7,118,21:15:00,KLKV,NH,PSL,21:25:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  17:45:00
Trip  357

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,50.0
7,119,21:30:00,KLKV,NH,PSL,21:40:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  18:00:00
Trip  358

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,100.0
7,112,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  18:50:00
Trip  359

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,100.0
7,120,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  18:50:00
Trip  360

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,110.0
7,108,22:30:00,KLKV,NH,PSL,22:35:00,3.5,00:05:00,NaN

Steering Duty =  07:20:00
Spread Over =  18:55:00
Trip  361

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,115.0
7,122,22:35:00,KLKV,NH,PSL,22:45:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  19:05:00
Trip  362

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,130.0
7,121,22:50:00,KLKV,NH,PSL,23:00:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  19:20:00
Trip  363

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,135.0
7,104,22:55:00,KLKV,NH,PSL,23:00:00,3.5,00:05:00,NaN

Steering Duty =  07:20:00
Spread Over =  19:20:00
Trip  364

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,150.0
7,106,23:10:00,KLKV,NH,PSL,23:15:00,3.5,00:05:00,NaN

Steering Duty =  07:20:00
Spread Over =  19:35:00
Trip  365

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,545.0
6,553,20:00:00,VLRD,KRKM,KLKV,20:40:00,17.0,00:40:00,175.0
7,123,23:35:00,KLKV,NH,PSL,23:45:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  20:05:00
Trip  366

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,565.0
6,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,5.0
7,115,21:05:00,KLKV,NH,PSL,21:15:00,3.5,00:10:00,NaN

Steering Duty =  07:30:00
Spread Over =  17:35:00
Trip  367

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,565.0
6,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,15.0
7,118,21:15:00,KLKV,NH,PSL,21:25:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  17:45:00
Trip  368

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,565.0
6,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,30.0
7,119,21:30:00,KLKV,NH,PSL,21:40:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  18:00:00
Trip  369

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,565.0
6,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,80.0
7,112,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  18:50:00
Trip  370

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,565.0
6,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,80.0
7,120,22:20:00,KLKV,NH,PSL,22:30:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  18:50:00
Trip  371

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,565.0
6,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,90.0
7,108,22:30:00,KLKV,NH,PSL,22:35:00,3.5,00:05:00,NaN

Steering Duty =  07:20:00
Spread Over =  18:55:00
Trip  372

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,565.0
6,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,95.0
7,122,22:35:00,KLKV,NH,PSL,22:45:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  19:05:00
Trip  373

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,565.0
6,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,110.0
7,121,22:50:00,KLKV,NH,PSL,23:00:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  19:20:00
Trip  374

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,565.0
6,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,115.0
7,104,22:55:00,KLKV,NH,PSL,23:00:00,3.5,00:05:00,NaN

Steering Duty =  07:20:00
Spread Over =  19:20:00
Trip  375

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,565.0
6,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,130.0
7,106,23:10:00,KLKV,NH,PSL,23:15:00,3.5,00:05:00,NaN

Steering Duty =  07:20:00
Spread Over =  19:35:00
Trip  376

,Sl No.,Departure Time,Departure Place,Route of Operation,Arrival Place,Arrival Time act,KM,Running Time,Terminal Gap
0,1,03:40:00,PSL,NH,KLKV,03:45:00,3.5,00:05:00,5.0
1,124,03:50:00,KLKV,NH,TVM,04:55:00,33.7,01:05:00,10.0
2,313,05:05:00,TVM,NH-UDA,KNVLA,06:05:00,32.0,01:00:00,10.0
3,641,06:15:00,KNVLA,UDA,MC,08:00:00,39.0,01:45:00,15.0
4,343,08:15:00,MC,NH,KLKV,09:50:00,40.0,01:35:00,25.0
5,517,10:15:00,KLKV,KRKM,VLRD,10:55:00,17.0,00:40:00,565.0
6,582,20:20:00,VLRD,KRKM,KLKV,21:00:00,17.0,00:40:00,155.0
7,123,23:35:00,KLKV,NH,PSL,23:45:00,3.5,00:10:00,NaN

Steering Duty =  07:25:00
Spread Over =  20:05:00

IndexError: single positional indexer is out-of-bounds

In [ ]:

""" 
Sl No.
Departure Time
Departure Place
Route of Operation
Arrival Place
Arrival Time act
KM
Running Time 
"""
print(trip)

[{'selected_leg':   Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0      1       03:40:00             PSL                 NH          KLKV

  Arrival Time act   KM Running Time  Terminal Gap
0         03:45:00  3.5     00:05:00             5  , 'temp_set':      Sl No. Departure Time Departure Place  \
0        15       04:20:00             PSL
1         4       04:30:00             PSL
2       693       05:00:00             PSL
3       645       05:00:00             PSL
4         6       05:05:00             PSL
..      ...            ...             ...
98       62       14:35:00             PSL
99       63       14:40:00             PSL
100      55       15:05:00             PSL
101      65       15:20:00             PSL
102     531       15:40:00             PSL

                     Route of Operation Arrival Place Arrival Time act    KM  \
0                                    NH          KLKV         04:25:00   3.5
1                                    NH          KLKV         04:40:00   3.5
2    MKD-KLD-PLKDA-NTA-TVM-MC-SKRM-CHPY           PCD         07:45:00  66.5
3                               KRKM-MJ           TVM         06:35:00  39.0
4                                    NH          KLKV         05:15:00   3.5
..                                  ...           ...              ...   ...
98                                   NH          KLKV         14:45:00   3.5
99                                   NH          KLKV         14:50:00   3.5
100                                  NH          KLKV         15:15:00   3.5
101                                  NH          KLKV         15:30:00   3.5
102                                KRKM          VLRD         16:20:00  17.0

    Running Time
0       00:05:00
1       00:10:00
2       02:45:00
3       01:35:00
4       00:10:00
..           ...
98      00:10:00
99      00:10:00
100     00:10:00
101     00:10:00
102     00:40:00

[103 rows x 8 columns], 'duty': 5}, {'selected_leg':   Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0    124       03:50:00            KLKV                 NH           TVM

  Arrival Time act    KM Running Time  Terminal Gap
0         04:55:00  33.7     01:05:00            10  , 'temp_set':      Sl No. Departure Time Departure Place         Route of Operation  \
0       650       04:30:00            KLKV             PVR-VZM-BYPASS
1       129       04:50:00            KLKV                         NH
2       132       05:20:00            KLKV                         NH
3       651       05:20:00            KLKV  PVR-VZM-BYPASS-TVM-KANMLA
4       501       05:20:00            KLKV                       KRKM
..      ...            ...             ...                        ...
215     122       22:35:00            KLKV                         NH
216     121       22:50:00            KLKV                         NH
217     104       22:55:00            KLKV                         NH
218     106       23:10:00            KLKV                         NH
219     123       23:35:00            KLKV                         NH

    Arrival Place Arrival Time act    KM Running Time
0             TVM         06:30:00  45.0     02:00:00
1             TVM         05:55:00  33.7     01:05:00
2             TVM         06:40:00  33.7     01:20:00
3              MC         07:40:00  55.0     02:20:00
4            VLRD         06:00:00  17.0     00:40:00
..            ...              ...   ...          ...
215           PSL         22:45:00   3.5     00:10:00
216           PSL         23:00:00   3.5     00:10:00
217           PSL         23:00:00   3.5     00:05:00
218           PSL         23:15:00   3.5     00:05:00
219           PSL         23:45:00   3.5     00:10:00

[220 rows x 8 columns], 'duty': 75}, {'selected_leg':   Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0    313       05:05:00             TVM             NH-UDA         KNVLA

  Arrival Time act    KM Running Time  Terminal Gap
0         06:05:00  32.0     01:00:00            10  , 'temp_set':      Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0       314       05:20:00             TVM                 NH           NTA
1       317       06:05:00             TVM                 NH          KLKV
2       319       06:25:00             TVM                 NH           NTA
3       648       06:45:00             TVM             NTA-MJ          KRKM
4       323       06:50:00             TVM                 NH           NTA
..      ...            ...             ...                ...           ...
128     492       20:50:00             TVM                 NH          KLKV
129     498       21:00:00             TVM                 NH          KLKV
130     495       21:10:00             TVM                 NH           NTA
131     494       21:20:00             TVM                 NH          KLKV
132     481       22:00:00             TVM                 NH          KLKV

    Arrival Time act    KM Running Time
0           06:00:00  20.7     00:40:00
1           07:20:00  33.7     01:15:00
2           07:10:00  20.7     00:45:00
3           08:25:00  34.0     01:40:00
4           07:40:00  20.7     00:50:00
..               ...   ...          ...
128         22:10:00  33.7     01:20:00
129         22:15:00  33.7     01:15:00
130         22:00:00  20.7     00:50:00
131         22:40:00  33.7     01:20:00
132         23:10:00  33.7     01:10:00

[133 rows x 8 columns], 'duty': 145}, {'selected_leg':   Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0    641       06:15:00           KNVLA                UDA            MC

  Arrival Time act    KM Running Time  Terminal Gap
0         08:00:00  39.0     01:45:00            10  , 'temp_set':    Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0     148       06:35:00           KNVLA             UDA-NH            MC

  Arrival Time act    KM Running Time
0         08:05:00  38.0     01:30:00  , 'duty': 260}, {'selected_leg':   Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0    341       08:10:00              MC                PTM           NTA

  Arrival Time act    KM Running Time  Terminal Gap
0         09:10:00  27.7     01:00:00            30  , 'temp_set':     Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0      343       08:15:00              MC                 NH          KLKV
1      351       08:25:00              MC                 NH          KLKV
2      348       08:30:00              MC                 NH          KLKV
3      352       08:50:00              MC                PTM           NTA
4      356       09:05:00              MC                PTM           NTA
..     ...            ...             ...                ...           ...
63     480       19:20:00              MC                PTM           NTA
64     478       19:25:00              MC                 NH          KLKV
65     483       19:45:00              MC                PTM           NTA
66     489       20:40:00              MC                 NH          KLKV
67     497       21:50:00              MC                 NH          KLKV

   Arrival Time act    KM Running Time
0          09:50:00  40.0     01:35:00
1          10:05:00  40.0     01:40:00
2          10:20:00  40.0     01:50:00
3          10:00:00  27.7     01:10:00
4          10:15:00  27.7     01:10:00
..              ...   ...          ...
63         20:30:00  27.7     01:10:00
64         21:05:00  40.0     01:40:00
65         20:55:00  27.7     01:10:00
66         22:20:00  40.0     01:40:00
67         23:30:00  40.0     01:40:00

[68 rows x 8 columns], 'duty': 330}, {'selected_leg':   Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0    203       09:40:00             NTA                 NH           TVM

  Arrival Time act    KM Running Time  Terminal Gap
0         10:30:00  20.7     00:50:00            75  , 'temp_set':     Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0      205       09:45:00             NTA                PTM            MC
1      207       09:50:00             NTA                 NH           TVM
2      208       10:00:00             NTA                 NH           TVM
3      210       10:15:00             NTA                 NH           TVM
4      212       10:25:00             NTA                PTM            MC
..     ...            ...             ...                ...           ...
60     303       19:30:00             NTA                 NH           TVM
61     311       19:30:00             NTA                 NH           TVM
62     305       19:50:00             NTA                 NH           TVM
63     307       20:10:00             NTA                 NH           TVM
64     308       20:30:00             NTA                 NH           TVM

   Arrival Time act    KM Running Time
0          10:55:00  27.7     01:10:00
1          10:40:00  20.7     00:50:00
2          10:50:00  20.7     00:50:00
3          11:05:00  20.7     00:50:00
4          11:35:00  27.7     01:10:00
..              ...   ...          ...
60         20:20:00  20.7     00:50:00
61         20:20:00  20.0     00:50:00
62         20:40:00  20.7     00:50:00
63         21:00:00  20.7     00:50:00
64         21:20:00  20.7     00:50:00

[65 rows x 8 columns], 'duty': 380}, {'selected_leg':   Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0    402       11:45:00             TVM                 NH           NTA

  Arrival Time act    KM Running Time  Terminal Gap
0         12:35:00  20.7     00:50:00             5  , 'temp_set':     Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0      381       11:45:00             TVM                 NH          KLKV
1      371       11:50:00             TVM                 NH          KLKV
2      457       12:00:00             TVM                 NH          KLKV
3      404       12:05:00             TVM                 NH           NTA
4      660       12:10:00             TVM            VZM-PVR          KLKV
..     ...            ...             ...                ...           ...
76     492       20:50:00             TVM                 NH          KLKV
77     498       21:00:00             TVM                 NH          KLKV
78     495       21:10:00             TVM                 NH           NTA
79     494       21:20:00             TVM                 NH          KLKV
80     481       22:00:00             TVM                 NH          KLKV

   Arrival Time act    KM Running Time
0          12:55:00  33.7     01:10:00
1          13:10:00  33.7     01:20:00
2          13:20:00  33.7     01:20:00
3          12:55:00  20.7     00:50:00
4          14:10:00  45.0     02:00:00
..              ...   ...          ...
76         22:10:00  33.7     01:20:00
77         22:15:00  33.7     01:15:00
78         22:00:00  20.7     00:50:00
79         22:40:00  33.7     01:20:00
80         23:10:00  33.7     01:10:00

[81 rows x 8 columns], 'duty': 430}, {'selected_leg':   Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0    233       12:40:00             NTA                 NH           TVM

  Arrival Time act    KM Running Time
0         13:30:00  20.7     00:50:00  , 'temp_set':     Sl No. Departure Time Departure Place Route of Operation Arrival Place  \
0      235       12:50:00             NTA                PTM            MC
1      236       13:00:00             NTA                 NH           TVM
2      238       13:15:00             NTA                 NH           TVM
3      240       13:30:00             NTA                PTM            MC
4      242       13:45:00             NTA                 NH           TVM
5      244       13:55:00             NTA                PTM            MC
6      590       14:00:00             NTA          AVPM-PKDA          KLKV
7      245       14:00:00             NTA                 NH           TVM
8      247       14:15:00             NTA                 NH           TVM
9      249       14:25:00             NTA                PTM            MC
10     252       14:30:00             NTA        TVM-MC-CHPY           PCD
11     250       14:35:00             NTA                 NH           TVM
12     253       14:45:00             NTA                 NH           TVM
13     255       14:55:00             NTA                PTM            MC
14     257       15:05:00             NTA                 NH           TVM
15     259       15:15:00             NTA       NH-EF-BYPASS         KZKTM
16     260       15:20:00             NTA                 NH           TVM
17     261       15:25:00             NTA               PLYM         MNTLA
18     262       15:30:00             NTA                PTM            MC
19     264       15:40:00             NTA                 NH           TVM
20     266       15:55:00             NTA                 NH           TVM
21     267       16:00:00             NTA                PTM            MC
22     269       16:10:00             NTA                 NH           TVM
23     610       16:15:00             NTA                CVR           PSL
24     272       16:25:00             NTA                 NH           TVM
25     273       16:30:00             NTA                PTM            MC
26     276       16:40:00             NTA                 NH           TVM
27     591       16:50:00             NTA          AVPM-PKDA           PSL
28     277       16:50:00             NTA                 NH           TVM
29     279       17:00:00             NTA                PTM            MC
30     281       17:05:00             NTA                 NH           TVM
31     500       17:05:00             NTA                 NH           PSL
32     283       17:20:00             NTA                 NH           TVM
33     285       17:30:00             NTA                PTM            MC
34     287       17:40:00             NTA                 NH           TVM
35     289       17:50:00             NTA                 NH           TVM
36     291       18:00:00             NTA                PTM            MC
37     293       18:10:00             NTA                 NH           TVM
38     295       18:25:00             NTA                PTM            MC
39     296       18:35:00             NTA                 NH           TVM
40     298       18:50:00             NTA                 NH           TVM
41     299       19:00:00             NTA                PTM            MC
42     301       19:10:00             NTA                 NH           TVM
43     311       19:30:00             NTA                 NH           TVM
44     303       19:30:00             NTA                 NH           TVM
45     305       19:50:00             NTA                 NH           TVM
46     307       20:10:00             NTA                 NH           TVM
47     308       20:30:00             NTA                 NH           TVM

   Arrival Time act    KM Running Time
0          14:00:00  27.7     01:10:00
1          13:50:00  20.7     00:50:00
2          14:05:00  20.7     00:50:00
3          14:40:00  27.7     01:10:00
4          14:35:00  20.7     00:50:00
5          15:05:00  27.7     01:10:00
6          15:15:00  30.0     01:15:00
7          14:50:00  20.7     00:50:00
8          15:05:00  20.7     00:50:00
9          15:35:00  27.7     01:10:00
10         16:20:00  43.0     01:50:00
11         15:25:00  20.7     00:50:00
12         15:35:00  20.7     00:50:00
13         16:05:00  27.7     01:10:00
14         15:55:00  20.7     00:50:00
15         16:45:00  35.0     01:30:00
16         16:10:00  20.7     00:50:00
17         16:45:00  29.5     01:20:00
18         16:40:00  27.7     01:10:00
19         16:30:00  20.7     00:50:00
20         16:45:00  20.7     00:50:00
21         17:10:00  27.7     01:10:00
22         17:00:00  20.7     00:50:00
23         16:40:00  13.0     00:25:00
24         17:15:00  20.7     00:50:00
25         17:40:00  27.7     01:10:00
26         17:30:00  20.7     00:50:00
27         18:05:00  30.0     01:15:00
28         17:40:00  20.7     00:50:00
29         18:10:00  27.7     01:10:00
30         17:55:00  20.7     00:50:00
31         17:30:00  12.0     00:25:00
32         18:10:00  20.7     00:50:00
33         18:40:00  27.7     01:10:00
34         18:30:00  20.7     00:50:00
35         18:40:00  20.7     00:50:00
36         19:10:00  27.7     01:10:00
37         19:00:00  20.7     00:50:00
38         19:35:00  27.7     01:10:00
39         19:25:00  20.7     00:50:00
40         19:40:00  20.7     00:50:00
41         20:10:00  27.7     01:10:00
42         20:00:00  20.7     00:50:00
43         20:20:00  20.0     00:50:00
44         20:20:00  20.7     00:50:00
45         20:40:00  20.7     00:50:00
46         21:00:00  20.7     00:50:00
47         21:20:00  20.7     00:50:00  , 'duty': 485}]